In [2]:
# create a set of integer type
student_id = {112,112,114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'i', 'o', 'a', 'e', 'u'}
Set of mixed data types: {'Hello', 101, -2, 'Bye'}

In [3]:
# create an empty set using set() function 
empty_set = set() 

# create an empty dictionary
empty_dictionary = { }

# check data type of empty_set
print('Data type of empty_set:', type(empty_set))

# check data type of dictionary_set
print('Data type of empty_dictionary', type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of empty_dictionary <class 'dict'>

In [4]:
# Duplicate Items in a Set
data = {11,11,11,22,33,44,33,22,33,44,55,99}
print(data)

{33, 99, 22, 55, 11, 44}

In [5]:
# using add() method
data.add(77)
print('after adding new item : ',data)

after adding new item :  {33, 99, 22, 55, 11, 44, 77}

In [8]:
# Update Python Set
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

companies.update(tech_companies)

print(companies)

# Output: {'google', 'apple', 'Lacoste', 'Ralph Lauren'}

companies.update(['p4n'])

print(companies)

{'google', 'apple', 'Lacoste', 'Ralph Lauren'}
{'google', 'apple', 'Lacoste', 'l', 'm', 'Ralph Lauren', 'o', 'c', 'e', 'w'}

In [12]:
# discard() method to remove the specified element from a set
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')

print('Set after remove():', languages)

Initial Set: {'Python', 'Swift', 'Java'}
Set after remove(): {'Python', 'Swift'}
Remove Item From Set ..  None

In [13]:
# Iterate Over a Set in Python
for i in languages:
    print(i)

Python
Swift

In [14]:
# Find Number of Set Elements
even_numbers = {2,4,6,8,6,4,2}
print('Set:',even_numbers)

# find number of elements
print('Total Elements:', len(even_numbers))

Set: {8, 2, 4, 6}
Total Elements: 4

In [15]:
#clear() – Remove elements from a set
# Remove all elements from set
languages = {'Python', 'C++', 'Java'}
languages.clear()
print(languages)  

# Output: 
# set()

set()

In [18]:
# copy() – Create a copy of a set
# Create set
original_set = {'Python', 'C++', 'Java'}

# Create a copy of the set
new_set = original_set.copy()
print(new_set)

{'Python', 'Java', 'C++'}

In [21]:
# union() – Union of Two Sets

# Find the union of three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
union = set1.union(set2, set3)
print(union) 
 
# Output: 
# {1, 2, 3, 4, 5, 6, 7}
union = set1|set3|set2
print(union)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
# intersection() – Get Intersection of Two Sets
# Find the intersection of two sets
set1 = {'Python', 'Java', 'C++'}
set2 = {'Java', 'C++', 'Go'}
intersection = set1.intersection(set2)
print(intersection)
  
# Output: 
# {'Java', 'C++'}
intersection = set1 & set2
print(intersection)

{'Java', 'C++'}
{'Java', 'C++'}

In [28]:
# difference() method 
data1 = {1,3,3,2,4,6}
data2 = {4,5,6,2,2,2}

print(data1.difference(data2))
print(data2.difference(data1))

print(data1 - data2)

{1, 3}
{5}
{1, 3}

In [30]:
# symmetric_difference() 
print(data1.symmetric_difference(data2))
print(data1^data2)

{1, 3, 5}
{1, 3, 5}