In [3]:
 # Creating a DataFrame from a Dictionary :
import pandas as pd
# Create a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
indexdata = [1,2,3]
df = pd.DataFrame(data , index=indexdata)
print(df)

      Name  Age           City
1    Alice   25       New York
2      Bob   30  San Francisco
3  Charlie   35    Los Angeles

In [6]:
# Creating a DataFrame from a List of Lists
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'San Francisco'],
    ['Charlie', 35, 'Los Angeles']
]
column_data = ['Name','Age','City']
df = pd.DataFrame(data , columns=column_data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [7]:
#  Creating a DataFrame from External Data :
# Read data from a CSV file
df = pd.read_csv('data.csv')
# Display the DataFrame
print(df)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [9]:
name_column = df['host_name']
print(name_column)

0                 John
1             Jennifer
2            Elisabeth
3          LisaRoxanne
4                Laura
             ...
48890          Sabrina
48891          Marisol
48892    Ilgar & Aysel
48893              Taz
48894       Christophe
Name: host_name, Length: 48895, dtype: object

In [25]:
# Select multiple columns using a list of column names
selected_columns = df[['name', 'neighbourhood']]
# name_column = df['host_name']
df0 = pd.DataFrame(name_column)
# print(selected_columns)
selected_columns.to_csv('output1.csv', index=False)

# writing to Excel
# datatoexcel = pd.ExcelWriter('data1.xlsx')
 
# write DataFrame to excel
# selected_columns.to_excel(datatoexcel)
 
# save the excel
# datatoexcel.save()
# print('DataFrame is written to Excel File successfully.')

In [26]:
data1 = pd.read_csv('data.csv')
# Select a single row by label
alice_data = data1.loc[0]
print(alice_data)

id                                                              2539
name                              Clean & quiet apt home by the park
host_id                                                         2787
host_name                                                       John
neighbourhood_group                                         Brooklyn
neighbourhood                                             Kensington
latitude                                                    40.64749
longitude                                                  -73.97237
room_type                                               Private room
price                                                            149
minimum_nights                                                     1
number_of_reviews                                                  9
last_review                                               2018-10-19
reviews_per_month                                               0.21
calculated_host_listings_count                                     6
availability_365                                                 365
Name: 0, dtype: object

In [33]:
# Select multiple rows by label
selected_rows = data1.loc[4:10]
print(selected_rows)
selected_rows.to_csv('output1.csv', index=False)

      id                                              name  host_id  \
4   5022  Entire Apt: Spacious Studio/Loft by central park     7192
5   5099         Large Cozy 1 BR Apartment In Midtown East     7322
6   5121                                   BlissArtsSpace!     7356
7   5178                  Large Furnished Room Near B'way      8967
8   5203                Cozy Clean Guest Room - Family Apt     7490
9   5238                Cute & Cozy Lower East Side 1 bdrm     7549
10  5295                  Beautiful 1br on Upper West Side     7702

    host_name neighbourhood_group       neighbourhood  latitude  longitude  \
4       Laura           Manhattan         East Harlem  40.79851  -73.94399
5       Chris           Manhattan         Murray Hill  40.74767  -73.97500
6       Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
7    Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493
8   MaryEllen           Manhattan     Upper West Side  40.80178  -73.96723
9         Ben           Manhattan           Chinatown  40.71344  -73.99037
10       Lena           Manhattan     Upper West Side  40.80316  -73.96545

          room_type  price  minimum_nights  number_of_reviews last_review  \
4   Entire home/apt     80              10                  9  2018-11-19
5   Entire home/apt    200               3                 74  2019-06-22
6      Private room     60              45                 49  2017-10-05
7      Private room     79               2                430  2019-06-24
8      Private room     79               2                118  2017-07-21
9   Entire home/apt    150               1                160  2019-06-09
10  Entire home/apt    135               5                 53  2019-06-22

    reviews_per_month  calculated_host_listings_count  availability_365
4                0.10                               1                 0
5                0.59                               1               129
6                0.40                               1                 0
7                3.47                               1               220
8                0.99                               1                 0
9                1.33                               4               188
10               0.43                               1                 6

In [34]:
# Select specific rows and columns
subset_data = df.loc[4:10, ['name', 'price','neighbourhood']]
subset_data.to_csv('output2.csv')