In [2]:
import pandas as pd

# read csv file

df = pd.read_csv('https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/35%20Day%20pandas%20read%20csv/DataSet/p4n_emp.csv')

print(df)

                        name  age     sex  \
0             Aaron, Dayan M   38    Male
1           Aaron, Freddie L   52    Male
2            Aaron, Tyrone M   44    Male
3            Abazenab, Kokeb   42  Female
4      Abbott, Christopher D   32    Male
...                      ...  ...     ...
8241  Zewu Attipoe, Joshua W   32    Male
8242         Zhang, Jianrong   53    Male
8243       Zimbrick, Brett A   54    Male
8244           Zorn, Aaron A   36    Male
8245        Zygaj, Stephen M   53    Male

                                          ethnic.origin  \
0     Black or African American (Not Hispanic or Lat...
1     Black or African American (Not Hispanic or Lat...
2     Black or African American (Not Hispanic or Lat...
3     Black or African American (Not Hispanic or Lat...
4                        White (Not Hispanic or Latino)
...                                                 ...
8241  Black or African American (Not Hispanic or Lat...
8242                     Asian (Not Hispanic or Latino)
8243                     White (Not Hispanic or Latino)
8244                     White (Not Hispanic or Latino)
8245                     White (Not Hispanic or Latino)

                                  job.title  \
0                          ATL311 Team Lead
1        Environmental Service Worker I (D)
2             Watershed Crew Supervisor (D)
3               Benefits Representative, Sr
4           Recreation Operations Assistant
...                                     ...
8241              Pollution Control Monitor
8242                         IT Manager, Sr
8243        Police Investigator (E) (F) (O)
8244        Police Investigator (E) (F) (O)
8245  Police Lieutenant (E) (F) (O) (B) (S)

                                   organization  annual.salary
0                         EXE Executive Offices       45999.99
1                DPW Department of Public Works       26700.10
2        DWM Department of Watershed Management       46575.01
3              DHR Department of Human Reources       42866.89
4     PRC Parks, Recreation, & Cultural Affairs       28035.05
...                                         ...            ...
8241     DWM Department of Watershed Management       42849.05
8242     DWM Department of Watershed Management      101744.51
8243              APD Atlanta Police Department       62582.62
8244              APD Atlanta Police Department       46377.97
8245              APD Atlanta Police Department       75950.01

[8246 rows x 7 columns]

In [3]:
print(df.head(3))

               name  age   sex  \
0    Aaron, Dayan M   38  Male
1  Aaron, Freddie L   52  Male
2   Aaron, Tyrone M   44  Male

                                       ethnic.origin  \
0  Black or African American (Not Hispanic or Lat...
1  Black or African American (Not Hispanic or Lat...
2  Black or African American (Not Hispanic or Lat...

                            job.title                            organization  \
0                    ATL311 Team Lead                   EXE Executive Offices
1  Environmental Service Worker I (D)          DPW Department of Public Works
2       Watershed Crew Supervisor (D)  DWM Department of Watershed Management

   annual.salary
0       45999.99
1       26700.10
2       46575.01

In [4]:
print(df.tail(3))

                   name  age   sex                   ethnic.origin  \
8243  Zimbrick, Brett A   54  Male  White (Not Hispanic or Latino)
8244      Zorn, Aaron A   36  Male  White (Not Hispanic or Latino)
8245   Zygaj, Stephen M   53  Male  White (Not Hispanic or Latino)

                                  job.title                   organization  \
8243        Police Investigator (E) (F) (O)  APD Atlanta Police Department
8244        Police Investigator (E) (F) (O)  APD Atlanta Police Department
8245  Police Lieutenant (E) (F) (O) (B) (S)  APD Atlanta Police Department

      annual.salary
8243       62582.62
8244       46377.97
8245       75950.01

In [5]:
print(df.columns)

Index(['name', 'age', 'sex', 'ethnic.origin', 'job.title', 'organization',
       'annual.salary'],
      dtype='object')

In [7]:
print(df.dtypes)

name              object
age                int64
sex               object
ethnic.origin     object
job.title         object
organization      object
annual.salary    float64
dtype: object

In [8]:
print(df.describe())

               age  annual.salary
count  8246.000000    8246.000000
mean     43.186636   49040.302659
std      11.236170   20042.032049
min      19.000000   20800.000000
25%      34.000000   36916.860000
50%      44.000000   43983.430000
75%      52.000000   55279.300000
max      89.000000  240697.600000

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8246 entries, 0 to 8245
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8246 non-null   object
 1   age            8246 non-null   int64
 2   sex            8246 non-null   object
 3   ethnic.origin  8246 non-null   object
 4   job.title      8246 non-null   object
 5   organization   8246 non-null   object
 6   annual.salary  8246 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 451.1+ KB
None

In [10]:
print(df.shape)

(8246, 7)

In [12]:
print(df['name'])

0               Aaron, Dayan M
1             Aaron, Freddie L
2              Aaron, Tyrone M
3              Abazenab, Kokeb
4        Abbott, Christopher D
                 ...
8241    Zewu Attipoe, Joshua W
8242           Zhang, Jianrong
8243         Zimbrick, Brett A
8244             Zorn, Aaron A
8245          Zygaj, Stephen M
Name: name, Length: 8246, dtype: object

In [15]:
# find the unique values in the column
print(df['name'].unique())

# for i in range(len(df['name'].unique())):
#     print(df['name'].unique()[i])

['Aaron, Dayan M' 'Aaron, Freddie L' 'Aaron, Tyrone M' ...
 'Zimbrick, Brett A' 'Zorn, Aaron A' 'Zygaj, Stephen M']

In [16]:
print(df['name'].value_counts())

name
Jones, Sharon R         2
Smith, Gregory          2
Johnson, Christopher    2
Jones, Jeffery D        2
Aaron, Dayan M          1
                       ..
Goens, Michael S        1
Godwin, Robert C        1
Godfrey, Valerie A      1
Godfrey, Robert N       1
Zygaj, Stephen M        1
Name: count, Length: 8242, dtype: int64

In [32]:
# find the specific value in the column and print the whole row
#print(df[df['name'] == 'Jones, Sharon R'])
print(df[df['name'] == 'Jones, Sharon R'].index)

# print row specific index
print(df.iloc[3997])

Index([3997, 3998], dtype='int64')
name                                               Jones, Sharon R
age                                                             52
sex                                                         Female
ethnic.origin    Black or African American (Not Hispanic or Lat...
job.title                             Administrative Assistant, Sr
organization                DWM Department of Watershed Management
annual.salary                                              35886.1
Name: 3997, dtype: object

In [35]:
# print min and max value of the column
print(df['annual.salary'].min())
print(df['annual.salary'].max())

20800.0
240697.6

In [36]:
# print the index of the min and max value
print(df['annual.salary'].idxmin())

216

In [37]:
# print row specific index
print(df.iloc[216])

name                                          Archie, Megan Nicole
age                                                             24
sex                                                         Female
ethnic.origin    Black or African American (Not Hispanic or Lat...
job.title                                 Summer Program Counselor
organization             PRC Parks, Recreation, & Cultural Affairs
annual.salary                                              20800.0
Name: 216, dtype: object

In [40]:
# fliter the data for job.title
print(df[df['job.title'] == 'Summer Program Counselor'])

                             name  age     sex  \
216          Archie, Megan Nicole   24  Female
251    Askew, Aquecsayieah Kashun   26  Female
904               Brown, Joshua W   25    Male
934            Brown, Tyshawnda N   23  Female
1220             Carter, Dollie J   20  Female
1223            Carter, Jamilah N   24  Female
1296              Chase, Rashad L   29    Male
1497           Concepcion, Angela   29  Female
2032           Dowery, Tyra Ayana   20  Female
2671               Giles, Keyon M   24    Male
3177              Hassen, Aisha H   26  Female
3700      Jackson, Tearre Denesse   23  Female
5947          Rankin, Bria Simone   23  Female
7012      Strozier, Marquavious A   20    Male
7097          Taylor, Christina M   29  Female
7219  Thompson, Chandrekia Denise   30  Female
8174             Wynn, Timothy Jr   24    Male

                                          ethnic.origin  \
216   Black or African American (Not Hispanic or Lat...
251   Black or African American (Not Hispanic or Lat...
904   Black or African American (Not Hispanic or Lat...
934   Black or African American (Not Hispanic or Lat...
1220  Black or African American (Not Hispanic or Lat...
1223  Black or African American (Not Hispanic or Lat...
1296  Black or African American (Not Hispanic or Lat...
1497  Black or African American (Not Hispanic or Lat...
2032  Black or African American (Not Hispanic or Lat...
2671  Black or African American (Not Hispanic or Lat...
3177  Black or African American (Not Hispanic or Lat...
3700  Black or African American (Not Hispanic or Lat...
5947  Black or African American (Not Hispanic or Lat...
7012  Black or African American (Not Hispanic or Lat...
7097  Black or African American (Not Hispanic or Lat...
7219  Black or African American (Not Hispanic or Lat...
8174  Black or African American (Not Hispanic or Lat...

                     job.title                               organization  \
216   Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
251   Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
904   Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
934   Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
1220  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
1223  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
1296  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
1497  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
2032  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
2671  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
3177  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
3700  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
5947  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
7012  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
7097  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
7219  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs
8174  Summer Program Counselor  PRC Parks, Recreation, & Cultural Affairs

      annual.salary
216         20800.0
251         20800.0
904         20800.0
934         20800.0
1220        21320.0
1223        31200.0
1296        20800.0
1497        20800.0
2032        20800.0
2671        20800.0
3177        23400.0
3700        20800.0
5947        20800.0
7012        20800.0
7097        23400.0
7219        20800.0
8174        20800.0

In [43]:
# export the data to csv file
data = df[df['job.title'] == 'Summer Program Counselor']
data.to_csv('p4n_emp.csv', index=False)