In [12]:
import pandas as pd

data = ['samosa','kachori','fafda','pav']

#s = pd.Series(data)

#print(s)

df = pd.DataFrame(data, columns=['food'])
print(df)

      food
0   samosa
1  kachori
2    fafda
3      pav

In [14]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Country': ['USA', 'Canada', 'UK']
}

indexx = ['A1','A2','A3']

df = pd.DataFrame(data, index=indexx)
print(df)

       Name  Age Country
A1    Alice   25     USA
A2      Bob   30  Canada
A3  Charlie   22      UK

In [16]:
# Select a single column
name_column = df['Name']
print(name_column)

# Select multiple columns
name_age_columns = df[['Name', 'Age']]
print(name_age_columns)

A1      Alice
A2        Bob
A3    Charlie
Name: Name, dtype: object
       Name  Age
A1    Alice   25
A2      Bob   30
A3  Charlie   22

In [19]:
# Using .loc to select rows by label
first_row = df.loc['A2']
print(first_row)

Name          Bob
Age            30
Country    Canada
Name: A2, dtype: object

In [21]:
# Using .iloc to select rows by integer index
second_row = df.iloc[0]
print(second_row)

Name       Alice
Age           25
Country      USA
Name: A1, dtype: object

In [23]:
# Using .loc to select specific rows and columns by label
specific_row_col = df.loc['A1', 'Name']
print(specific_row_col)

Alice

In [25]:
df_with_index = df.set_index('Name')
print(df_with_index)

         Age Country
Name
Alice     25     USA
Bob       30  Canada
Charlie   22      UK

In [28]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Country': ['USA', 'Canada', 'UK']
}
df = pd.DataFrame(data)

# Adding an Index
df_with_index = df.set_index('Name')
print("DataFrame with Custom Index:")
print(df_with_index)

DataFrame with Custom Index:
         Age Country
Name
Alice     25     USA
Bob       30  Canada
Charlie   22      UK

In [33]:
# Adding a Column
#df_with_new_column = df_with_new_row.copy()  # Create a copy to avoid modifying the original
data['height'] = [4.5, 5.6, 6.1]
print("\nDataFrame with New Column:")
print(data)

df = pd.DataFrame(data)
print(df)

DataFrame with New Column:
{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 22], 'Country': ['USA', 'Canada', 'UK'], 'height': [4.5, 5.6, 6.1]}
      Name  Age Country  height
0    Alice   25     USA     4.5
1      Bob   30  Canada     5.6
2  Charlie   22      UK     6.1

In [34]:
# Adding a Row
# Create a dictionary for the new row
new_row = {'Name':'joy','Age':90,'Country':'india','height':8.9}

# Append the new row to the DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

print(df)

      Name  Age Country  height
0    Alice   25     USA     4.5
1      Bob   30  Canada     5.6
2  Charlie   22      UK     6.1
3      joy   90   india     8.9

In [38]:
# Write the DataFrame to an Excel file
df.to_excel('output.xlsx', index=False)

In [35]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\comp\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     -------------------------------------- 250.0/250.0 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\comp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\comp\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\comp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\comp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\comp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
# Read an Excel file into a DataFrame
df = pd.read_excel('data.xlsx')
# Display the first few rows of the DataFrame
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
1       2  CA-2018-152156 2018-11-08 2018-11-11    Second Class    CG-12520
2       3  CA-2018-138688 2018-06-12 2018-06-16    Second Class    DV-13045
3       4  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335
4       5  US-2017-108966 2017-10-11 2017-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

c:\Users\comp\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [45]:
df = pd.DataFrame(df)
print(df)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2018-152156 2018-11-08 2018-11-11    Second Class
1          2  CA-2018-152156 2018-11-08 2018-11-11    Second Class
2          3  CA-2018-138688 2018-06-12 2018-06-16    Second Class
3          4  US-2017-108966 2017-10-11 2017-10-18  Standard Class
4          5  US-2017-108966 2017-10-11 2017-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2016-110422 2016-01-21 2016-01-23    Second Class
9990    9991  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9991    9992  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9992    9993  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9993    9994  CA-2019-119914 2019-05-04 2019-05-09    Second Class

     Customer ID     Customer Name    Segment Country/Region             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     ...     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     ...     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     ...     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     ...     33311.0   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...     33180.0   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...     92627.0    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...     92627.0    West  TEC-PH-10003645       Technology       Phones
9992  ...     92627.0    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...     92683.0    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [52]:
# Read an Excel file into a DataFrame
df = pd.read_excel('output2.xlsx')
# Display the first few rows of the DataFrame
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0    4102  US-2019-102288 2019-06-19 2019-06-23  Standard Class    ZC-21910
1    9293  CA-2019-124114 2019-03-02 2019-03-02        Same Day    RS-19765
2    8659  CA-2018-168361 2018-06-21 2018-06-25  Standard Class    KB-16600
3    4712  CA-2016-112403 2016-03-31 2016-03-31        Same Day    JO-15280
4    2107  US-2016-152723 2016-09-26 2016-09-26        Same Day    HG-14965

      Customer Name    Segment Country/Region          City  ... Postal Code  \
0  Zuschuss Carroll   Consumer  United States       Houston  ...     77095.0
1    Roland Schwarz  Corporate  United States          Waco  ...     76706.0
2       Ken Brennan  Corporate  United States       Chicago  ...     60623.0
3     Jas O'Carroll   Consumer  United States  Philadelphia  ...     19120.0
4     Henry Goldwyn  Corporate  United States      Mesquite  ...     75150.0

    Region       Product ID         Category Sub-Category  \
0  Central  OFF-AP-10002906  Office Supplies   Appliances
1  Central  OFF-BI-10004022  Office Supplies      Binders
2  Central  OFF-BI-10003727  Office Supplies      Binders
3     East  OFF-BI-10003529  Office Supplies      Binders
4  Central  OFF-BI-10003460  Office Supplies      Binders

                                        Product Name  Sales  Quantity  \
0  Hoover Replacement Belt for Commercial Guardsm...  0.444         1
1           Acco Suede Grain Vinyl Round Ring Binder  0.556         1
2  Avery Durable Slant Ring Binders With Label Ho...  0.836         1
3                      Avery Round Ring Poly Binders  0.852         1
4                                  Acco 3-Hole Punch  0.876         1

   Discount  Profit
0       0.8 -1.1100
1       0.8 -0.9452
2       0.8 -1.3376
3       0.7 -0.5964
4       0.8 -1.4016

[5 rows x 21 columns]

In [53]:
# Filter data where Column1 is greater than 2
filtered_data = df[df['Sales'] > 200]
# Display the filtered data
# Write the DataFrame to an Excel file
filtered_data.to_excel('output11.xlsx', index=False)

In [54]:
# Sort the DataFrame by 'Column1' in ascending order
sorted_data = df.sort_values(by='Sales')
# Write the DataFrame to an Excel file
sorted_data.to_excel('output22.xlsx', index=False)

In [56]:
# Filter data where Column1 is greater than 2
filtered_data = df[df['Sales'] == 0.99]
# Display the filtered data
# Write the DataFrame to an Excel file
filtered_data.to_excel('output99.xlsx', index=False)